#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 40px;
}

.navigation {
  position: absolute;
  top: 0;
  background: rgb(78, 78, 78);
  width: 100vw;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.navigation img {
  margin-left: 50px;
}

.navigation button {
  margin-right: 50px;
}

.upload_imgs {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 80px;
}

.upload_imgs p {
  font-size: 80px;
}

.img_border, .img_border_result {
  border: 2px dashed #fff;
  border-radius: 50%;
}

.img_border {
  width: 220px;
  height: 220px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.img_border_result {
  width: 270px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.img_border_result div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.download {
  margin-top: 30px;
  background: #A1FF92;
  border-radius: 10px;
  border: none;
  color: #505050;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.download:hover {
  background: #486f42;
}